*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: max(1vh, 1vw);
}

#popRoute {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("./images/pop_background.png");
    animation-name: animace;
    animation-duration: 0.5s;
}

.formContainer {
    border-radius: 45px 0 45px 0;
    border: #0B691F solid 25px;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    gap: 1vh;
    animation-name: animace;
    animation-duration: 0.5s;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@keyframes animace {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

#divLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/login_background.png");
    background-size: cover;
}

.form {
    border-top: none;
    border-left: none;
    border-right: none;
}

nav {
    margin: 0;
    width: 100%;
    background-color: #0B691F;
    height: 3rem;
    display: flex;
    position: sticky;
}

#navigace1 {
    width: 5vh;
    margin: auto;
    padding-left: 2%;
    padding-top: 0.35rem;
    padding-bottom: 0.35vh;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c9c38;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdownItem {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
  }

  #navigace1:hover .dropdown-content {
    display: block;
  }
    
#navigace2 {
    width: 76%;
    margin: auto;
}
    
#navigace3 {
    text-align: center;
    width: 7%;
    padding-top: 0.75rem;
    transition: 0.3s;
}

#navigace3:hover {
    background-color: #1c9c38;
}
    
#navigace4 {
    text-align: center;
    width: 7%;
    padding-top: 0.75rem;
    transition: 0.3s;
    object-fit: fill;
}

#navigace4:hover {
    background-color: #1c9c38;
}

#navigace5 {
    width: 3%;
    margin: auto;
}

.navImg {
    width: 3vh;
    height: 3vh;
    object-fit: scale-down;

}


a {
    text-decoration: none;
    color: antiquewhite;
}

header {
margin: 0;
text-align: center;
width: 100%;
height: 50vh;
background-image: url("images/header.png");
background-repeat:no-repeat;
background-size: cover;
}

h1 {
    margin: 0;
    font-family: "Monofett", monospace;
    font-size: 15vh;
    }

h2 {
    margin: 3vh;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 10vh;
}

h3 {
    margin: 3vh 0 3vh 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 6vh;
    text-align: center;
}

#buttonLink {
    padding: min(2vh, 14px) min(3vh, 25px);
    background-color: rgb(255, 19, 66);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2vh;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.7s;
}

#buttonLink:hover {
    background-color: rgb(119, 17, 17);
}

#best {
    width: 100%;
    height: fit-content;

    /**used to scroll text*/
    white-space: nowrap;    
    overflow-x: scroll;
    overflow-y: hidden; 
  }

  #new {
    width: 100%;
    height: fit-content;

    /**used to scroll text*/
    white-space: nowrap;    
    overflow-x: scroll;
    overflow-y: hidden;
  }

.karta {
    background-color: white;
    width: 50vh;
    height: 40vh;
    margin: 10px;
    float: none;
    display: inline-block;
}

.karta_best {
    display: none;
}


.kartaImg {
    border-radius: 45px 0 45px 0;
    width: 25vh;
    height: 30vh;
    display: block;
    margin:auto;
    position: relative;
    background: linear-gradient(0deg, rgba(241,233,163,1), rgba(0,0,0,0));
    background-size: cover;
    background-position: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
}

.trackImg {
    width: 25vh;
    height: 30vh;
    border-radius: 45px 0 45px 0;
    opacity: 80%;
    object-fit:fill;
    transition: opacity 500ms 0ms ease-in-out;
    
}

.trackImg:hover {
    opacity: 100%;
    
}

.kartaText {
    color: black;
    text-align: center;
    margin-top: 2vh;

}

footer {
    background-color: black;
    display: flex;
    color: antiquewhite;
    height: max(20vh, 10vw);
}


.footerDiv {
    width: 50%;
    margin: auto;

}

.footerText {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    
}

#repw--confirm {
    color: red;
    display: none;
}

#pw--short {
    color: red;
    display: none;
}

#error_message {
    color: red;
}

.chyba_404 {
    font-size: max(5vh, 5vw);
    text-align: center;
    margin: 5vh;
}

.card_detail {
    max-width: 450px;
    max-height: 350px;
    align-self: center;
    text-align: center;
    
}

a.card_detail {
    font-size: 3vh;
}

#card_detail_container {
    border-radius: 45px 0 45px 0;
    border: #0B691F solid 25px;
    height: 600px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    gap: 1vh;
    animation-name: animace;
    animation-duration: 0.5s;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: center;
}

#card_detail_main {
    background-color: white;
    display: flex;
    justify-content: center;
    background-image: url("./images/login_background.png");
    background-size: cover;
}

a.card_detail {
    color: inherit;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0.5vh;
  }
  
a.card_detail {
    background:
      linear-gradient(
        to right,
        rgb(69, 171, 255),
        rgba(69, 171, 255, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        #fca80b,
        rgb(42, 179, 0)
    );
    background-size: 100% 5px, 0 5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
a.card_detail:hover {
    background-size: 0 5px, 100% 5px;
  }

  .like {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
  }


#plus {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #81ff5a 0, #68ff54 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #020202;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 30px;
}

#plus:focus {
  box-shadow: #1c6316 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1c6316 0 -3px 0 inset;
}

#plus:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1c6316 0 -3px 0 inset;
  transform: translateY(-2px);
}

#plus:active {
  box-shadow: #1c6316 0 3px 7px inset;
  transform: translateY(2px);
}
 
#minus {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ff5a5a 0, #e23838 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #020202;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
  }
  
  #minus:focus {
    box-shadow: #811c1c 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #811c1c 0 -3px 0 inset;
  }
  
  #minus:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #811c1c 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #minus:active {
    box-shadow: #811c1c 0 3px 7px inset;
    transform: translateY(2px);
  }